@font-face {
	font-family: 'Aktiv Grotesk Corp';
	src: url('../fonts/AktivGroteskCorp-Regular.eot');
	src: local('../fonts/AktivGroteskCorp-Regular'),
		url('../fonts/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AktivGroteskCorp-Regular.woff') format('woff'),
		url('../fonts/AktivGroteskCorp-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: local('../fonts/Playfair Display Regular'), local('PlayfairDisplay-Regular'),
		url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}