@import url(../css/fonts.css);
#testimonials .testimonial-title {
  font: 900 1.75rem "Playfair Display", serif;
  color: #2F110F;
}

#testimonials .testimonial-link {
  font: 900 1.75rem "Aktiv Grotesk Corp", sans-serif;
  color: #F34D1B;
  text-decoration: none;
}

#testimonials .testimonial-link:hover {
  color: #DC143C;
}

#testimonials .eapps-widget-show-toolbar a[target=_blank] {
  pointer-events: none;
  background-color: transparent;
  display: hidden !important;
}

footer .content-wrapper {
  padding-top: 3%;
  background-image: url(../img/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

footer .content-wrapper .main-part {
  padding: 30px 0;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

footer .content-wrapper .main-part .subscribe_title {
  color: #FFF;
  font: 400 2rem "Playfair Display", serif;
}

footer .content-wrapper .main-part .subscribe_cursive {
  color: #FFF;
  font: 400 1.5rem "Playfair Display", serif;
  font-style: italic;
}

footer .content-wrapper .main-part .mailchimp {
  margin-top: 5%;
  padding: 3% 5%;
  background-color: rgba(255, 255, 255, 0.1);
}

footer .content-wrapper .main-part .mailchimp p {
  font: 500 1rem "Aktiv Grotesk Corp", sans-serif;
  color: #FFF;
}

footer .content-wrapper .main-part .mailchimp .email {
  border: none;
  border-bottom: 1px solid #FFF;
  background-color: transparent;
}

footer .content-wrapper .main-part .mailchimp .check-box {
  padding-bottom: 2%;
}

footer .content-wrapper .main-part .mailchimp .check-box label {
  font: 400 0.785rem "Aktiv Grotesk Corp", sans-serif;
  line-height: 14px;
  color: #FFF;
}

footer .content-wrapper .main-part .mailchimp .formEmailButton {
  width: 50%;
  background-color: #FFF;
  border-style: none;
  text-transform: uppercase;
  color: #2F110F;
  font: 400 1.25rem "Aktiv Grotesk Corp", sans-serif;
  border: 2px solid #2F110F;
  border-radius: 100px;
}

footer .content-wrapper .main-part .mailchimp .formEmailButton:hover {
  border: 2px solid #F34D1B;
  color: #F34D1B;
  -webkit-transition: .3s ease-in all;
  transition: .3s ease-in all;
}

footer .content-wrapper .info-block {
  padding-top: 5%;
}

footer .content-wrapper .info-block h4 {
  font: bold 0.875rem "Aktiv Grotesk Corp", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 0.24em;
}

footer .content-wrapper .info-block address {
  padding: 0;
}

footer .content-wrapper .info-block address p {
  font: 500 1.125rem "Gilroy", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

footer .content-wrapper .info-block .working-time {
  font: 500 1.125rem "Gilroy", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

footer .content-wrapper .info-block .working-time span {
  color: #FFF;
  font: 500 1.125rem "Gilroy", sans-serif;
  text-transform: uppercase;
}

footer .content-wrapper .info-block .contact-links {
  font: 500 1.125rem "Gilroy", sans-serif;
  text-decoration: none;
  color: #FFF;
}

footer .content-wrapper .info-block .contact-links:hover {
  -webkit-transition: .1s all ease;
  transition: .1s all ease;
  color: #F34D1B;
}

footer .content-wrapper .info-block .contact-links:hover span {
  color: #FFF;
}

footer .content-wrapper .info-block .info-links a {
  font: 500 1.125rem "Gilroy", sans-serif;
  text-decoration: none;
  color: #FFF;
}

footer .content-wrapper .info-block .info-links a:hover {
  color: #F34D1B;
}

footer .content-wrapper .info-block .info-links li {
  padding-top: 10px;
  margin: 5px 0;
}

footer .content-wrapper .second-part {
  background-color: rgba(0, 0, 0, 0.4);
}

footer .content-wrapper .second-part .copyright {
  color: #FFF;
  padding: 15px;
  margin: 0;
  font: bold 0.625rem "Aktiv Grotesk Corp", sans-serif;
  text-transform: uppercase;
  color: #F6F4F2;
}

footer .content-wrapper .second-part .copyright .author-link {
  color: #F34D1B;
  text-decoration: none;
  font: bold 0.75rem "Playfair Display", serif;
}

footer .content-wrapper .second-part .copyright .author-link:hover {
  color: #DC143C;
}

footer .content-wrapper .second-part .payment-icons .payment-icon {
  background-color: #F6F4F2;
  border-radius: 5px;
  display: inline-block;
  opacity: .6;
  padding: 6px;
  padding-bottom: 0;
  margin: 3px 3px 0;
}

footer .content-wrapper .second-part .payment-icons .payment-icon:hover {
  opacity: 1;
  -webkit-transition: .3s ease-in all;
  transition: .3s ease-in all;
}

footer .content-wrapper .second-part .payment-icons .payment-icon .visa {
  height: 20px;
}

footer .content-wrapper .second-part .payment-icons .payment-icon .master-card {
  height: 20px;
}

footer .content-wrapper .second-part .payment-icons .payment-icon .liqpay {
  height: 20px;
}

footer .content-wrapper .second-part .payment-icons .payment-icon .cash-on-delivery {
  height: 20px;
}
