@import url(../css/fonts.css);
.container {
  max-width: 100%;
  width: 1320px;
}

.fixed {
  position: fixed;
  background-color: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-animation: .8s linear;
          animation: .8s linear;
}

header .header-wrapper .modal .modal-dialog .modal-content {
  padding-top: 2%;
}

header .header-wrapper .modal .modal-dialog .modal-content .close {
  position: absolute;
  left: 93%;
  top: 0;
}

header .header-wrapper .modal .modal-dialog .modal-content .close:hover {
  color: #F34D1B;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-title {
  text-align: center;
  font: 900 1.25rem "Playfair Display", serif;
  text-transform: uppercase;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-title .cursive {
  display: block;
  font-size: 2rem;
  color: #F34D1B;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-body .modal-sub-title {
  font: 600 1.225rem "Playfair Display", serif;
  letter-spacing: .12em;
  font-style: underline;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-body input {
  border-style: none;
  border-bottom: 2px solid #2F110F;
  font: 800 1rem "Gilroy", sans-serif;
  padding: 5px;
  margin: 3% 0;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-body input:hover {
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
  color: #F34D1B;
  border-color: #F34D1B;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-body .submit-btn {
  margin-top: 3%;
  border: 2px solid #2F110F;
  background-color: #FFF;
  color: #2F110F;
  font: 800 1rem "Gilroy", sans-serif;
  text-transform: uppercase;
  border-radius: 99px;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-body .submit-btn:hover {
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
  color: #F34D1B;
  border-color: #F34D1B;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-body .forgot-pass {
  display: block;
  color: #2F110F;
  font: 600 0.75rem "Aktiv Grotesk Corp", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

header .header-wrapper .modal .modal-dialog .modal-content .modal-body .forgot-pass:hover {
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
  color: #F34D1B;
}

header .header-wrapper .navigation-links {
  margin: 0;
}

header .header-wrapper .navigation-links .navigation-link a {
  text-decoration: none;
  font: 700 0.875rem "Aktiv Grotesk Corp", sans-serif;
  line-height: 120%;
  color: #2F110F;
}

header .header-wrapper .navigation-links .navigation-link a:hover {
  color: #F34D1B;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .header-wrapper .navigation-links .navigation-link a i {
  font-size: 1.125rem;
}

header .header-wrapper .site-title {
  font-size: 0;
  margin: 0 auto;
}

header .header-wrapper .control-btns {
  margin: 0;
}

header .header-wrapper .control-btns .sign-in {
  text-decoration: none;
  font: 700 0.875rem "Aktiv Grotesk Corp", sans-serif;
  line-height: 120%;
  color: #2F110F;
  cursor: pointer;
}

header .header-wrapper .control-btns .sign-in:hover {
  color: #F34D1B;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .header-wrapper .control-btns .icons {
  margin-top: 5px;
  height: 1.25rem;
  width: 1.25rem;
  fill: #2F110F;
}

header .header-wrapper .navbar-nav .nav-item a {
  padding: 10px 15px;
  font: 900 0.875rem "Aktiv Grotesk Corp", sans-serif;
  color: #2F110F;
  letter-spacing: 0.24em;
  line-height: 120%;
}

header .header-wrapper .navbar-nav .nav-item a:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #F34D1B;
}

#banner .carousel-wrapper {
  max-width: 100%;
}

#banner .carousel-wrapper .carousel .carousel-inner .carousel-item {
  height: 100vh;
}

#banner .carousel-wrapper .carousel .carousel-inner .slide-1 {
  height: 100vh;
  background-image: url(../img/slider_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #FFF;
}

#banner .carousel-wrapper .carousel .carousel-inner .slide-1 h2 {
  font: 800 0.875rem "Aktiv Grotesk Corp", sans-serif;
  line-height: 120%;
  letter-spacing: 0.24em;
}

#banner .carousel-wrapper .carousel .carousel-inner .slide-1 h3 {
  width: 95%;
  margin: 0 auto;
  font: 5.625rem "Playfair Display", serif;
  text-transform: uppercase;
  line-height: 100px;
}

#banner .carousel-wrapper .carousel .carousel-inner .slide-1 h3 span {
  text-transform: none;
  font-style: italic;
  font-weight: normal;
}

#banner .carousel-wrapper .carousel .carousel-inner .slide-1 .btn {
  width: 18%;
  margin: 0 auto;
  text-decoration: none;
  color: #2F110F;
  background-color: #FFF;
  border: 2px solid #2F110F;
  border-radius: 99px;
  font: bold 1rem "Aktiv Grotesk Corp", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.24em;
}

#banner .carousel-wrapper .carousel .carousel-inner .slide-1 .btn:hover {
  color: #F34D1B;
  border-color: #F34D1B;
}

#banner .carousel-wrapper .carousel .carousel-inner .slide-2 {
  height: 100vh;
  background-image: url(../img/slider_2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#banner .carousel-wrapper .carousel .carousel-inner .slide-3 {
  height: 100vh;
  background-image: url(../img/slider_3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#testimonials .testimonial-title {
  font: 900 1.75rem "Playfair Display", serif;
  color: #2F110F;
}

#testimonials .testimonial-link {
  font: 900 1.75rem "Aktiv Grotesk Corp", sans-serif;
  color: #F34D1B;
  text-decoration: none;
}

#testimonials .testimonial-link:hover {
  color: #DC143C;
}

#testimonials .eapps-widget-show-toolbar a[target=_blank] {
  pointer-events: none;
  background-color: transparent;
  display: hidden !important;
  z-index: -999;
}

footer .content-wrapper {
  padding-top: 3%;
  background-image: url(../img/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

footer .content-wrapper .main-part {
  padding: 30px 0;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
}

footer .content-wrapper .main-part .subscribe_title {
  color: #FFF;
  font: 400 2.5rem "Playfair Display", serif;
}

footer .content-wrapper .main-part .subscribe_cursive {
  color: #FFF;
  font: 400 2.25rem "Playfair Display", serif;
  font-style: italic;
}

footer .content-wrapper .main-part .mailchimp {
  margin-top: 5%;
  padding: 3% 5%;
  background-color: rgba(255, 255, 255, 0.1);
}

footer .content-wrapper .main-part .mailchimp p {
  font: 500 1rem "Aktiv Grotesk Corp", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

footer .content-wrapper .main-part .mailchimp .email {
  border: none;
  border-bottom: 1px solid #FFF;
  background-color: transparent;
}

footer .content-wrapper .main-part .mailchimp .check-box {
  padding-bottom: 2%;
}

footer .content-wrapper .main-part .mailchimp .check-box label {
  font: 400 0.785rem "Aktiv Grotesk Corp", sans-serif;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
}

footer .content-wrapper .main-part .mailchimp .formEmailButton {
  width: 50%;
  background-color: #FFF;
  border-style: none;
  text-transform: uppercase;
  color: #2F110F;
  font: 400 1.25rem "Aktiv Grotesk Corp", sans-serif;
  border: 2px solid #2F110F;
  border-radius: 100px;
}

footer .content-wrapper .main-part .mailchimp .formEmailButton:hover {
  border: 2px solid #F34D1B;
  color: #F34D1B;
  -webkit-transition: .3s ease-in all;
  transition: .3s ease-in all;
}

footer .content-wrapper .info-block h4 {
  font: bold 0.875rem "Aktiv Grotesk Corp", sans-serif;
  color: #FFF;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 0.24em;
  padding-bottom: 2rem;
}

footer .content-wrapper .info-block address {
  padding: 0;
}

footer .content-wrapper .info-block address p {
  font: 500 1.125rem "Gilroy", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  line-height: 120%;
  padding: 0;
  margin: 0;
}

footer .content-wrapper .info-block .working-time {
  font: 500 1.125rem "Gilroy", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

footer .content-wrapper .info-block .working-time span {
  color: #FFF;
  font: 500 1.125rem "Gilroy", sans-serif;
  text-transform: uppercase;
}

footer .content-wrapper .info-block .contact-links {
  font: 500 1.125rem "Gilroy", sans-serif;
  text-decoration: none;
  color: #FFF;
}

footer .content-wrapper .info-block .contact-links:hover {
  -webkit-transition: .1s all ease;
  transition: .1s all ease;
  color: #F34D1B;
}

footer .content-wrapper .info-block .contact-links:hover span {
  color: #FFF;
}

footer .content-wrapper .info-block .info-links a {
  font: 500 1.125rem "Gilroy", sans-serif;
  text-decoration: none;
  color: #FFF;
}

footer .content-wrapper .info-block .info-links a:hover {
  color: #F34D1B;
}

footer .content-wrapper .info-block .info-links li {
  margin: 5px 0;
}

footer .content-wrapper .second-part {
  background-color: rgba(0, 0, 0, 0.4);
}

footer .content-wrapper .second-part .copyright {
  color: #FFF;
  padding: 15px;
  margin: 0;
  font: bold 0.625rem "Aktiv Grotesk Corp", sans-serif;
  text-transform: uppercase;
  color: #F6F4F2;
}

footer .content-wrapper .second-part .copyright .author-link {
  color: #F34D1B;
  text-decoration: none;
  font: bold 0.75rem "Playfair Display", serif;
}

footer .content-wrapper .second-part .copyright .author-link:hover {
  color: #DC143C;
}

footer .content-wrapper .second-part .payment-icons .payment-icon {
  background-color: #F6F4F2;
  border-radius: 5px;
  display: inline-block;
  opacity: .6;
  padding: 6px;
  padding-bottom: 0;
  margin: 3px 3px 0;
}

footer .content-wrapper .second-part .payment-icons .payment-icon:hover {
  opacity: 1;
  -webkit-transition: .3s ease-in all;
  transition: .3s ease-in all;
}

footer .content-wrapper .second-part .payment-icons .payment-icon .visa {
  height: 20px;
}

footer .content-wrapper .second-part .payment-icons .payment-icon .master-card {
  height: 20px;
}

footer .content-wrapper .second-part .payment-icons .payment-icon .liqpay {
  height: 20px;
}

footer .content-wrapper .second-part .payment-icons .payment-icon .cash-on-delivery {
  height: 20px;
}

.payment-and-delivery section {
  padding-bottom: 6%;
}

.payment-and-delivery .section-title {
  font: 400 2.25rem "Playfair Display", serif;
  font-style: italic;
  line-height: 48px;
  color: #2F110F;
  padding-bottom: 60px;
}

.payment-and-delivery h2 {
  font: 900 0.875rem "Aktiv Grotesk Corp", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  line-height: 120%;
}

.payment-and-delivery h2::after {
  position: absolute;
  display: block;
  content: '';
  width: 60px;
  margin-top: 3px;
  left: 48%;
  height: 1px;
  background-color: #2F110F;
}

.payment-and-delivery .payment-type-items li, .payment-and-delivery .delivery-type-items li {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.payment-and-delivery .payment-type-items li:nth-last-child(1), .payment-and-delivery .delivery-type-items li:nth-last-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.payment-and-delivery .payment-type-items li p, .payment-and-delivery .delivery-type-items li p {
  padding: 0 10px;
  font: 1rem "Aktiv Grotesk Corp", sans-serif;
  line-height: 130%;
  color: #2F110F;
}

.payment-and-delivery .payment-type-items li .type-item, .payment-and-delivery .delivery-type-items li .type-item {
  font: 1.25rem "Aktiv Grotesk Corp", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.payment-and-delivery .payment-type-items li .item-desc, .payment-and-delivery .delivery-type-items li .item-desc {
  font: 0.75rem "Aktiv Grotesk Corp", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 80%;
}

.error-404 {
  height: 50vh;
  background-image: url(../img/slider_3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.error-404 .page-content {
  color: #FFF;
}

#blog-posts .posts .post {
  margin: 2% 0;
}

#blog-posts .posts .post .post-image {
  width: 30%;
  height: auto;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#blog-posts .posts .post .post-description {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#blog-posts .posts .post .post-description .post-title {
  font: 800 1.775rem "Playfair Display", serif;
  color: #2F110F;
  text-transform: uppercase;
}

#blog-posts .posts .post .post-description p {
  font: 500 1rem "Aktiv Grotesk Corp", sans-serif;
  padding: 0 2%;
  text-align: justify;
  text-indent: 1rem;
  line-height: 120%;
}

#blog-posts .posts .post .post-description .read-more-btn {
  color: #2F110F;
  padding: .5em 2em;
  border: 2px solid #2F110F;
  border-radius: 99px;
  font: 800 0.875rem "Aktiv Grotesk Corp", sans-serif;
  text-decoration: none;
}

#blog-posts .posts .post .post-description .read-more-btn:hover {
  color: #F34D1B;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  border-color: #F34D1B;
}

#single-post .single-title {
  font: 800 2.25rem "Playfair Display", serif;
}

#single-post p {
  font: 400 1.15rem "Aktiv Grotesk Corp", sans-serif;
  line-height: 120%;
  text-indent: 1rem;
  padding: 2% 0;
}
