@import url(../css/fonts.css)


$main-font: 'Aktiv Grotesk Corp', sans-serif
$second-font: 'Playfair Display', serif
$gilroy: 'Gilroy', sans-serif

$black: #000
$white: #FFF
$broun: #2F110F
$orange: #F34D1B
$crimson: #DC143C

$light-broun: rgba(0, 0, 0, 0.5)
$light-white: rgba(255, 255, 255, 0.7)

.container
    max-width: 100%
    width: 1320px